.header {
  padding: 1rem;
  background-color: #009ef3;
  color: #ffffff;
  text-align: center;
  height: 150px;
}

.title {
  font-size: 48px;
}

.nav {
  margin-top: 16px;
  font-size: 18px;
}

.nav a {
  margin: 0 8px;
  text-decoration: none;
  color: inherit;
}
