.main {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  flex: 7;
}

.layout {
  display: flex;
  gap: 32px;
  max-width: 70%;
  margin: 0 auto;
  padding: 32px;
}

.sidebar {
  flex: 3;
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.section {
  flex-shrink: 0;
}
