.main {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
  border-radius: 12px;
  flex: 6.8;
}

.layout {
  display: flex;
  gap: 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;
}

.sidebar {
  flex: 3.2;
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: calc(100vh - 64px); // padding を考慮
  overflow-y: auto; // スクロール可能に変更
}

.section {
  flex-shrink: 0;
}
