.list {
  list-style: disc inside;
  margin-top: 0.5rem;
  line-height: 1.7;
}

.linkRight {
  text-align: right;
}

.link {
  color: #2563eb;
  font-weight: 500;
  text-decoration: underline;
}

.photoWrapper {
  flex-shrink: 0;
  margin: 30px 10px 50px 10px;
}

.video {
  width: 100%;
  margin: 20px 10px;
  display: block;
}
