.sidebar {
  position: sticky;
  top: 32px;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: fit-content;
  text-align: center;
  color: #000000;
}
