.sidebar {
  position: sticky;
  top: 32px;
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  height: fit-content;
  text-align: center;
}

.toc {
  line-height: 1.6;

  ul {
    padding-left: 20px;
    margin: 0;
  }

  li {
    list-style-type: disc;
    margin-bottom: 4px;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }
}

.contents {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}
